/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage
/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
./composer.lock
./packag-lock.json
/App/Http/Controllers/Test/
/App/Http/Livewire/Test/
/resources/views/test/
/resources/views/livewire/test/
/resources/views/components/test/
